.container {
  width: 95vw;
  display: flex;
  margin-top: 5%;
  box-shadow: 1px 2px 5px 5px rgba(136, 136, 136, 0.44);
}

table {
  width: 100%;
}

.header {
  font-size: 16px;
  font-weight: 500px;
  color: gray;
}
.table-row {
  display: block;
  text-align: left;
  width: 100%;
}

.cell {
  text-align: left;
  width: 400px;
}
